body{
    font-family: 'Roboto', sans-serif;
}
 /* In a case we want to add more styling to our quotes/features in the future */ 

.container-wrapper--red{
    background-color: #d2aa30;
    color:white;
}
.alert-container .col-12{
    padding-left:0;
    padding-right:0;

}

.site-wide-alert{
    padding:5px 15px;
    margin-bottom:0;
    border-radius:0;
    background-color: #fdb965;
    border-color: #fdb965;
}
.callout-container{
    height:100vh;
    background: url(../images/whiskey-background.jpeg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items: center;
    justify-content:center;
    position:relative; /*So the opaque-ov erlay positio themselves relative to the callout-container instead of the body */
}
.opaque-overlay { /*This will darken the background image slightly.*/
   position:absolute;
   top:0;
   left:0;
   height:100%;
   width:100%;
   background-color:rgba(0,0,0,0.5); /*1 is completely visible, and 0 is completely transparent*/

}

/* page headers */
.page-header{
    margin-bottom:0;
    border-bottom:0;
    text-align:center;
}
.page-header h2{
    margin-top:0;
}
.quotes .page-header{
    margin-bottom: 25px;
}
.features .page-header{
    margin-bottom: 25px;
}
/*block-dividers*/

.block-divider{
    width: 75px;
    height: 5px;
    border:0;
    background-color: #444;
}

.block-divider--orange{
background-color: #c79a14;
}

.block-divider--short{
    width: 35px;
}

.block-divider--white{
    background-color: white;
}

/* content containers : To add  more vertical space on our containers */
.content-container {
 padding-top: 75px;
 padding-bottom: 75px;

} 

/* Navbar */
.navalert-container{
    position:absolute;
     top:0;
    left:0;
    padding-left:0;
    padding-right: 0;
    z-index:1;
}
.navbar{
    margin-bottom:0;
    border:0;
    width:100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}
.navbar .navbar-nav a {
    font-weight: bold;
}
/* jumbrotron */

.jumbotron{
    background-color:transparent;
}
.jumbotron-header{
 font-weight:bold;
 color:white;
 margin-bottom:30px;
}

.jumbotron .lead{
    color: #675a5a;
    margin: 25px 0;
}
.jumbotron small{
    font-size:70%;
    font-style:italic;
    color:#d0d0d0;
}

/* Buttons */
.btn--cta {
    width:160px;
    border-radius: 23px;
    font-weight:bold;
}

.btn--red{ /* bloack element modifier */
    color:white;
    background-color:#c79a14;
    border-color:#c79a14;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus{
    background-color: #d2aa30;
    border-color:#c79a14;
}
/* feature container */
.feature{
    text-align:center;
    margin-bottom: 40px;
}
.feature i {
    margin-bottom:20px;
    font-size:45px;
    line-height:45px;
}
.feature .btn {
    background-color: white;
    border-color: white;
    border-radius:15px;
    min-width:100px; /* so that the buttons can grow but not shrink */
    font-weight:bold;
    margin-top:10px;
    color:#c79a14;
}